/* ------------------- General -------------------- */

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

/* --------------------- Header -------------------- */

.header {
  background-color: #1f2937; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 100px;
  gap: 50px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
  flex: 0 0 auto;
}

.links-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex: 0 0 auto;
}

a {
  text-decoration: none;
}

.bottom-header {
  display: flex;
  height: 250px;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  flex: 0 0 auto;
}

.hero-primary {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-secondary,
a {
  font-size: 18px;
  color: #e5e7eB;
}

.sign-up-box {
  padding-top: 10px;
}

.sign-up {
  background-color: rgb(0, 110, 255);
  border: none;
  padding: 5px 30px;;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: 700;
  font-size: 16px;
}

.header-image {
  height: 250px;
  flex: 0 0 auto;
}

/* -------------------- First section --------------------- */

.first-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 100px;
}

.first-sect-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  width: 1400px;
  text-align: center;
  margin-top: 30px;
}

.cards {
  display: flex;
  gap: 100px;
  width: 1400px;
  justify-content: center;
}

.card {
  width: 200px;
}

.card-img {
  width: 200px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.card-descr {
  text-align: center;
}

/* -------------------- Second section --------------------- */

.second-sect {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.citation-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 1000px;
}

.citation {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  width: 1000px;
  padding-top: 100px;
}

.citation-author {
  width: 1000px;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 60px;
}

/* -------------------- Third section --------------------- */

.third-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner {
  width: 1400px;
  height: 150px;
  background-color: rgb(0, 110, 255);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  color: #f9faf8;
}

.banner-header {
  font-weight: 700;
  font-size: 30px;
}

.banner-button {
  background-color: rgb(0, 110, 255);
  border: 3px solid #f9faf8;
  padding: 5px 30px;;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: 700;
  font-size: 16px;
}